<!DOCTYPE html>
<html lang='pt-BR'>
  <head>
    <title>Contact Manager - <%= yield :title %> </title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class="<%= controller.controller_name %>" data-spy='scroll'>
    <!-- header -->
    <%= render partial: 'layouts/header' %>
    
    <!-- content -->
    <div class='container'>
      <div class='row'>

        <!-- sidebar -->
        <div class='col-md-3'>
          <%= render 'layouts/sidebar' %>
          
          <div class='row'>
            <div class='col-md-12'>
              <div class='alert alert-info'>
                <span>Created by: </span>
                <h5 class='bold'>Renato Rosa Franco</span>
              </div>
            </div>
          </div>
        </div>

        <!-- yield --->
        <div class='col-md-9'>
          <%= render 'layouts/messages' if !flash.empty? %>
          <%= yield %>
        </div>
      </div>
    </div>

    <!-- footer -->
    <%= render partial: 'layouts/footer' %>
  </body>
</html>
